@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .dropdownItemStyle {
    @apply text-black  hover:bg-green-800 hover:text-white cursor-pointer;
  }
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
::-webkit-scrollbar-track {
  background-color: #e6f9ea;
}
::-webkit-scrollbar-thumb {
  background-color: #175329;
  border-radius: 5px;
}
.ql-toolbar.ql-snow {
  border: none;
}
.ql-container.ql-snow {
  border: none;
}
.ql-toolbar.ql-snow {
  border: none;
  font-size: 14px;
  line-height: 1.2;
  padding: 6px;
  margin: 0;
}

.ql-toolbar.ql-snow button {
  font-size: 14px;
  padding: 4px 8px;
  margin-right: 4px;
}

.ql-toolbar.ql-snow button:last-child {
  margin-right: 0;
}
